* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.gutter {
  background-color: #eee;
  background-color: rgb(22, 21, 21);
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
.cm-editor {
  height: 100% !important;
}
.cm-theme-dark {
  height: 100% !important;
}
.iframe {
  width: 100vw;
  height: 50vh;
  border: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 199, 199);
}
