*{
  margin: 0;
  padding: 0;
}
.coding-page{
  height: 100vh;
  overflow: hidden;
}
.export-modal{
  width:500px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background-color: rgb(22, 21, 21); 
  padding: 25px;
  border-radius: 12px;
}
.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.7);
}
.modal-h4{
  margin: 10px 0;
}
.modal-p{
  margin: 10px 0 0 0;
}
.modal-input{
  height: 40px;
  width: 100%;
  border: 0;
  margin-bottom:15px;
  border-radius: 5px;
}
.modal-button{
  color: white;
  background-color: transparent;
  height: 40px;
  width: 80px;
  padding: 2px 18px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-right: 10px;
}
.modal-button:hover{
  cursor:pointer;
  color: aqua;
}
.top-pane{
  /* height: 50vh; */
  
}
.header{
  width: 100vw;
  background-color: rgb(22, 21, 21); 
  color: white;
  font-family: 'Kdam Thmor Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid gray ;
}
.export-button{
  color: white;
  background-color: transparent;
  padding: 2px 18px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}
.export-button:hover{
  cursor:pointer;
  color: aqua;
}
.split {
  display: flex;
  flex-direction: row;
  width:100vw;
}
.gutter {
  background-color: #eee;
  background-color: rgb(22, 21, 21);
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
.editor{
  height: calc(50vh - 39px);
}
.editor-title{
  color: white;
  background-color: rgb(22, 21, 21);
  font-family: 'Kdam Thmor Pro', sans-serif;
}
.editor-text-area{ 
  height: calc(50vh - 63px);
}
.cm-editor{
  height: 100% !important;
}
.cm-theme-dark{
  height: 100% !important;
}
.iframe{
  width: 100vw;
  height: 50vh;
  border: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 199, 199); 
}